<div id='preview'>
  <%= render partial:@component.design_type.pluralize+'/'+@component.design_name, locals:@component.field_values %>
</div>
<%= bootstrap_form_tag url: '/updateFields' do |f| %>
  <%=  f.hidden_field :id, value: @component.id %>
  <% @component.field_types.each do |field, type| %>

    <% if(type == "string") %>
      <%=  f.text_field field.to_sym, value: @component.get_field(field.to_s) %>
    <% end %>

    <% if(type == "array:string") %>
    <%=  f.form_group :field do  %>
      <%=  f.label field %>
      <% @component.get_field(field.to_s).each do |value| %>
        <%=  f.text_field field.to_sym, value: value, multiple: true, append:link_to("X", "#", class: "btn btn-danger close"), wrapper: false %>
      <% end %>
    <% end %>
      <button type="button" id="add<%= field.to_s.singularize.capitalize %>" class="btn btn-primary">Add <%= field.to_s.singularize.capitalize %> </button>
      <br>
    <% end %>

    <% if(type == "boolean") %>
      <%= f.check_box field.to_sym, custom: :switch, checked: @component.get_field(field.to_s) %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
