<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
    <p class="lead"><%= slogan %></p>
    <hr class="my-4">
    <p><%= blurb %></p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="<%= link_target %>" role="button"><%= link_text %></a>
    </p>
</div>
