<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @design.name %>
</p>

<%= render partial:'designs/'+@design.name, locals:@design.defaults %>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
