<%= "<h1>Editing #{singular_name.capitalize}</h1>" %>
<%= "<%= render 'add_file', #{singular_name}: @#{singular_name} %%>" %>
<%= "<%= link_to 'Back to #{singular_name}', @#{singular_name} | link_to 'List #{plural_name}', #{plural_name}_path %%>" %>
