<p id='notice'><%= notice %></p>

<h1>Designs</h1>

<table>
  <thead>
    <tr>
        <th colspan=3>name</th>
    </tr>
  </thead>

  <tbody>
    <% @designs.each do |design| %>
      <tr>

          <td> <%= design.name %> </td>

          <td> <%= design.slug %> </td>
                <td><%= link_to 'Show', page_path(design), class: 'btn btn-sm btn-outline-info' %></td>
        <td><%= link_to 'Edit', edit_page_path(design) %></td>
        <td><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Design', new_design_path %>
