<%= "<%= form_with(model: component, local: true) do |form| %%>" %>
  <%= "<% if component.errors.any? %%>" %>
    <%= "<div id='error_explanation'>" %>
      <%= "<h2><%= pluralize(component.errors.count, 'error') %%> prohibited this component from being saved:</h2>" %>

      <%= "<ul>" %>
        <%= "<% component.errors.full_messages.each do |message| %%>" %>
          <%= "<li><%= message %%></li>" %>
        <%= "<% end %%>" %>
      <%= "</ul>" %>
    <%= "</div>" %>
  <%= "<% end %%>" %>
  <%= "<div class='field' hidden>" %>
    <%= "<%= form.text_field :body %%>" %>
  <%= "</div>" %>

  <%= "<%== component.build_editor_with form %%>" %>

  <%= "<div class='actions'>" %>
    <%= "<%= form.submit %%>" %>
  <%= "</div>" %>

<%= "<% end %%>" %>
