<%= "<h1>Editing #{singular_name.capitalize}</h1>" %>

<%= "<div class='container' style='zoom:.7'>" %>
  <%= "<%== @#{singular_name}.as_html %$>" %>
<%= "</div>" %>

<%= "<%= render 'form', #{singular_name}: @#{singular_name} %%>" %>

<%= [render_meta_link('Show',"@#{singular_name}"),render_meta_link('Back',"#{plural_name}_path")].join(" | ") %>
