<%= "<p id='notice'><%= notice %%></p>" %>

<%= "<h1>Components</h1>" %>

<%= "<table class='table'>" %>
  <%= "<thead>" %>
    <%= "<tr>" %>
      <%= "<th>Design Name</th>" %>
      <%= "<th>Fields</th>" %>
      <%= "<th>Preview</th>" %>
      <%= "<th colspan=3></th>" %>
    <%= "</tr>" %>
  <%= "</thead>" %>

  <%= "<tbody>" %>
    <%= "<% @components.each do |component| %%>" %>
      <%= "<tr>" %>
          <%= "<td><%= component.name %%></td>" %>
          <%= "<td>" %>
            <%= "<% component.fields.each do |key,value| %%>" %>
                <%= "<div class='row'>" %>
                  <%= "<div class='col'>" %>
                    <%= "<strong><%= key %%></strong>" %>
                  <%= "</div>" %>
                  <%= "<div class='col'>" %>
                    <%= "<%= value %%>" %>
                  <%= "</div>" %>
                <%= "</div>" %>
               <%= "<% end %%>" %>
          <%= "</td>" %>
          <%= "<td><span style='zoom:.7'><%== component.as_html %%></span></td>" %>

        <%= "<td><%= link_to 'Show', component_path(component), class: 'btn btn-sm btn-outline-info' %%></td>" %>
        <%= "<td><%= link_to 'Edit', edit_component_path(component) %%></td>" %>
        <%= "<td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %%></td>" %>
      <%= "</tr>" %>
     <%= "<% end %%>" %>
  <%= "</tbody>" %>
<%= "</table>" %>

<%= "<br>" %>

<%= "<%= link_to 'New Component', new_component_path %%>" %>
