<%= "<p id='notice'><%= notice %%></p>" %>

<h1><%= plural_name.capitalize %></h1>

<table class="table">
  <thead>
    <tr><% display_attributes.each do |attribute| %><% if(attribute.name == "as_html") %>
      <%= render_th('Preview') %> <% else %>
      <%= render_th(attribute.name.humanize.titleize) %> <% end %><% end %>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <%= "<% @#{plural_name}.each do |#{singular_name}| %%>" %>
      <tr><% display_attributes.each do |attribute| %><% if(attribute.name == "as_html") %>
        <%= render_td("<%== #{singular_name}.#{attribute.name} %%>",0,'.7') %> <% else %>
        <%= render_td("<%= #{singular_name}.#{attribute.name} %%>") %> <% end %><% end %>

        <%= render_td(render_meta_link('Show',"#{singular_name}_path(#{singular_name})","class: 'btn btn-sm btn-outline-info'")) %>
        <%= render_td(render_meta_link('Edit',"edit_#{singular_name}_path(#{singular_name})")) %>
        <%= render_td(render_meta_link('Destroy',singular_name,"method: :delete, data: { confirm: 'Are you sure?' }")) %>
      </tr>
     <%= "<% end %%>" %>
  </tbody>
</table>
<br>
<%= render_meta_link("New #{singular_name.capitalize}","new_#{singular_name}_path") %>
